@charset "utf-8";
/* CSS Document */
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
padding:0;margin:0;}
table{border-collapse: collapse;border-spacing:0;}
fieldset,img{border:0;}
ol, ul ,li,dd{list-style: none;}
caption,th{text-align: left;}
h1,h2,h3,h4,h5,h6{font-weight: normal;font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}

body,input{font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#000;line-height:170%;}
a{ text-decoration:none; color:#000;}
a:hover{color:#f00;}
.mr10{ margin-right:10px;}
.p5{ padding:5px;}
.p10{ padding:10px;}
.p20{ padding:20px;}
.pb20{ padding-bottom:20px;}
.pr10{ padding-right:10px;}
.pt10{ padding-top:10px;}
.fl{ float:left;}
.fr{ float:right;}
.f_24{ font-size:24px;}
.f_b{ font-weight:bolder;}
.w200{ width:200px;}
.f_494949{color:#494949;}
.tc{ text-align:center;}
.tr{ text-align:right;}

/* 清理浮动 */
.fn-clear:after {
visibility:hidden;
display:block;
font-size:0;
content:" ";
clear:both;
height:0;
}
.fn-clear {
zoom:1; /* for IE6 IE7 */
}

/*freelancerBody*/
.freelancerBody{
background: url(../images/topLight.gif) top repeat-x #EEEFF1;
border:1px solid #D8D8D8; padding:10px 10px 25px 10px;
border-radius:12px;
-webkit-border-radius:12px;
-moz-border-radius:12px; width:700px;
-moz-box-shadow:0px 0px 30px #fff inset;               /* For Firefox3.6+ */
-webkit-box-shadow:0px 0px 30px #fff inset;            /* For Chrome5+, Safari5+ */
box-shadow:0px 0px 30px #fff inset;}
.freelancerBody h2{ color:#D40003; font-size:16px; font-weight:bold; height:25px;}
.freelancerBody .bgDiv{ background:#fff; border:1px solid #E4E4E4;}
.freelancerBody .bgDiv.noPadding{ padding:0px;}
.freelancerBody .minHeight550{ min-height:550px;_height:550px;}

/*图片列表样式*/
.freelancerBody table.tableList{}
.freelancerBody table.tableList tr{}
.freelancerBody table.tableList tr.color td{ background:#F6FCFC;}
.freelancerBody table.tableList tr:nth-of-type(even){ background:#F6FCFC; border-bottom:1px solid #C4D7D5;border-top:1px solid #C4D7D5;}/*支持定义偶数行样式的浏览器*/
.freelancerBody table.tableList td{text-align:center; height:120px; line-height:120%;border-bottom:1px solid #C4D7D5;}
.freelancerBody table.tableList td a{ text-decoration:none; color:#000; cursor:pointer;}
.freelancerBody table.tableList td a:hover{ color:#f00;}

/*数据列表样式*/
.freelancerBody table.tableData{ clear:both;}
.freelancerBody table.tableData tr{}
.freelancerBody table.tableData tr.color td{ background:#F0F0F0;}
.freelancerBody table.tableData thead td{ background:url(../images/dataTbg.gif) repeat-x;color:#D40003;}
.freelancerBody table.tableData td{text-align:center; height:26px; line-height:26px;border-bottom:1px solid #E1E1E1; background:#F7F7F7;}

.freelancerBody .topPanel{ height:50px; line-height:50px; clear:both;}
.freelancerBody .topPanel li{}
.freelancerBody .topPanel label.title{ float:left; padding-left:15px; padding-right:10px; font-size:13px;}
.freelancerBody .topPanel input.dateS{ border:0px; padding:0 16px 0 3px;width:70px; height:22px; line-height:22px;overflow:hidden; background:url(../images/chooseBg.gif) 0 -31px no-repeat; font-size:13px;_margin-top:10px;}
.freelancerBody .spaceSpan{  padding:0 5px;}
.freelancerBody a.underLine{ text-decoration:underline;}
.freelancerBody .totalAmount{height:40px; line-height:40px; padding:0 20px;}
.freelancerBody .totalAmount span{ float:right; margin-right:5px;}

.freelancerBody .invoicesBox{ clear:both; padding:0 15px;}
.freelancerBody .invoicesBox table.tableData{ border-left:1px solid #E1E1E1;border-right:1px solid #E1E1E1;}
.freelancerBody .invoicesBox table.tableData td{ text-align:left; padding:0 5px; color:#474747;border-right:1px solid #E1E1E1;}
.freelancerBody .invoicesBox thead td{ font-weight:bolder;}
.freelancerBody .leftBox{ width:48%; float:left; }
.freelancerBody .rightBox{ width:48%; float:right;}
.freelancerBody .rightBox table.tableData td{}

/*表单样式*/
.freelancerBody .formDiv{ color:#474747;}
.freelancerBody .formDiv a{ color:#474747;}
.freelancerBody .formDiv ul{ border-bottom:1px solid #DFDFDF; min-height:48px;_height:48px; line-height:48px; clear:both; display:inline-table; vertical-align:middle; width:100%; position:relative;}
.freelancerBody .formDiv label.title{ width:200px; float:left; padding-left:50px; font-size:13px;}
.freelancerBody input.w245_h30,.freelancerBody input.w55_h30,.freelancerBody input.w175_h30,.freelancerBody input.w95_h30,.freelancerBody input.w135_h30,.freelancerBody input.w65_h28,input.w150_h28{ width:253px; height:30px; line-height:30px;border:1px solid #BABABA;border-top:1px solid #9F9F9F;_margin-top:6px; padding:0 4px;}
.freelancerBody input.w55_h30{ width:55px;}
.freelancerBody input.w175_h30{ width:175px;}
.freelancerBody input.w95_h30{ width:95px;}
.freelancerBody input.w135_h30{ width:135px;}
input.w170_h20{ width:170px; height:18px; line-height:20px;border:1px solid #BABABA;border-top:1px solid #9F9F9F;margin-top:2px; padding:0 2px;}
.freelancerBody input.w65_h28{ width:114px; height:27px; float:left;margin-top:8px;}
input.w150_h28{ width:134px; height:27px; float:left;margin-top:8px;}
.freelancerBody input.redBtnw81_h29{ background: url(../images/redBtn.png) no-repeat; width:81px; height:29px;line-height:29px; border:0px; cursor:pointer;_margin-top:6px; color:#fff;  font-size:14px;}
.btnw100_h23{ background-color:#FFF; border:1px solid #6F6F6F;width:100px; height:23px; line-height:20px; text-align:center;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; background:url(../images/chooseBg.gif) 0 -55px; cursor:pointer;}
.freelancerBody .btnw100_h23_h{ background-color:#FFF; border:1px solid #6F6F6F;width:100px; height:23px; line-height:20px; text-align:center;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; background:url(../images/chooseBg.gif) 0 -78px; cursor:pointer;}

.freelancerBody .textarea170_50{ width:164px; height:50px; border:1px solid #AEAEAE; max-height:50px; max-width:164px; margin:2px 0;padding:0 2px;}
.freelancerBody .textarea245_100{ width:256px; height:100px; border:1px solid #AEAEAE; max-height:100px; max-width:256px; margin:5px 0;padding:0 2px;}

.freelancerBody .file-box{ position:relative; width:280px;height:52px; height:49px\9; margin:0 auto;overflow:hidden;}
.freelancerBody .text{background-color:#f2f2f2; border:1px solid #CDCDCD;height:21px; width:208px; padding:0 2px; float:left;margin-right:5px; z-index:6;}
.freelancerBody .btn{ background-color:#FFF; border:1px solid #6F6F6F;width:60px; float:left; height:23px; line-height:19px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; background:url(../images/chooseBg.gif) 0 -55px; z-index:6;}
.freelancerBody .file{font-size:13px; position:absolute; top:0; left:0px;width:280px; height:24px; filter:alpha(opacity:0);opacity:0;z-index:8; cursor:pointer;}
.freelancerBody .imageUploadBox{height:150px; padding-top:20px;}
.freelancerBody .fileUploadBox{ height:50px;} 

/*模拟下拉框样式*/
.selectOption{}
.chooseBox{width:134px; height:30px; margin-right:5px; float:left;line-height:30px;background:url(../images/chooseBg.gif) no-repeat; margin-top:8px;_margin-left:3px;}
.choosen{width:100%; height:30px;text-indent:5px;}
.chooseBox div.optionBox{border:1px solid #C5C5C5;background:#fff;}
.chooseBox a{color:#474747;background:#fff; clear:both; display:block; height:30px;line-height:30px; text-indent:5px;cursor:pointer; overflow:hidden;}
.chooseBox a:hover{ color:#fff;background:#78ACCE;}
.chooseBox a.choosenLink{color:#fff;background:#75989A;}

/*报错信息样式*/
label.error{background:#f90;clear: both;color: #fff;float: left;font-size: 12px;margin-bottom: 1px;padding:4px; line-height:16px; margin:4px 0; position:absolute; right:5px; top:-19px;white-space:nowrap; }
.freelancerBody input.error{ border:1px solid #f90;background:#FFFFE1; color:#f00; font-weight:bold;}
.freelancerBody .rightBox table.tableData td div.pr{ position:relative;}
.freelancerBody .rightBox table.tableData label.error{ font-size:11px; top:-24px; right:7px;}

/*头部样式*/
.freelancerHead{ clear:both;}
.freelancerHead ul{ height:50px; line-height:45px;}
.freelancerHead li{ float:left;}
.freelancerHead label.title{ padding:0 10px; float:left;color:#222; font-size:16px; font-weight:bold;}
.freelancerHead .btnw100_h23{}

/*信息提示页*/
.minHeight350{ min-height:350px;_height:350px;}
.messBox{ padding:60px 30px 0 30px; text-align:center;color:#900; font-size:16px; font-weight:bold; font-family:Verdana, Geneva, sans-serif;}